/* css reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* typography */
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

/* body */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./images/pattern-background-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: hsl(225, 100%, 94%);
  height: 100vh;
  font-family: "Red Hat Display", sans-serif;
}

body > main {
  background-color: white;
  width: 20rem;
  border-radius: 20px;
}

main > img {
  width: inherit;
  height: 12rem;
  border-radius: 20px 20px 0 0;
}

main > div {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-inline: 1.5rem;
  padding-block: 2rem;
  gap: 1.3rem;
  margin-top: 0;
}

main > div > h1 {
  color: rgb(3, 26, 3);
  /* margin-top: 1.5rem; */
  font-weight: 900;
  font-size: 1.5rem;
}

main > div > p {
  font-size: 1.3rem;
  color: grey;
  width: inherit;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aliceblue;
  padding: 10px 20px;
  border-radius: 10px;
}

.container > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  font-size: 1rem;
}

.container a {
  color: blue;
  font-weight: 700;
}

.container a:hover {
  text-decoration: none;
}

.container > div > div {
  line-height: 1.5rem;
}

.container > div p:last-child {
  color: grey;
  font-style: bold;
  font-weight: 600;
}

.container > div p:first-child {
  font-style: bold;
  font-weight: 600;
}

main button {
  width: inherit;
  height: 3.5rem;
  border-radius: 10px;
  border: none;
  background-color: rgb(71, 71, 150);
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  box-shadow: 0 30px 10px rgba(53, 11, 221, 0.1);
}

main button:hover {
  background-color: rgb(99, 99, 240);
}

@media (min-width: 1000px) {
  body {
    background-image: url(./images/pattern-background-desktop.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 94%);
  }

  body > main {
    width: 25rem;
    font-weight: 900;
    font-size: 1.5rem;
    /* box-shadow: 0 0 2px 2px rgb(216, 216, 221); */
  }

  main > div {
    padding-inline: 40px;
    font-weight: 400;
    /* padding-bottom: 10rem; */
  }
}

.color {
  color: hsl(225, 100%, 94%);
  color: hsl(245, 75%, 52%);
  color: hsl(225, 100%, 98%);
  color: hsl(224, 23%, 55%);
  color: hsl(223, 47%, 23%);
}
